.wrapper {
  padding: 0 20px;
  max-width: 1460px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  
  @media screen and (min-width: 767px) {
    padding: 0 50px;
    gap: 80px;
  }
}
