.footer {
  background-color: #fff;
  
  .footerHead {
    display: flex;
    flex-direction: column;
    height: 120px;
    
    @media screen and (min-width: 767px) {
      flex-direction: row;
      height: 80px;
    }

    .online {
      flex: 1;
      background-color: #463d2e;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      .onlineLink {
        display: block;
      }
    }

    .sns {
      flex: 1;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

  .footerContent {
    text-align: center;
    padding: 80px 0;

    .pageList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 60px;
      gap: 20px;

      @media screen and (min-width: 767px) {
        gap: 40px;
      }

      li {
        font-size: 14px;
      }
    }
  }
  .footerCopy {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #dbdbd0;
    font-size: 10px;

    @media screen and (min-width: 767px) {
      font-size: 14px;
    }
  }
}
