.splide {
  margin-bottom: 100px;
  padding: 0 20px;
  
  @media screen and (min-width: 767px) {
    padding-left: calc((100vw - 1360px) / 2);
  }

  .splideSlide {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
    
    @media screen and (min-width: 767px) {
      flex-direction: row;
      max-width: 1004px;
    }

    .articleImg {
      display: block;
      width: 280px;
      
      @media screen and (min-width: 767px) {
        width: 525px;
      }
    }

    .articleContent {
      padding-top: 20px;
      position: relative;
      z-index: 1;
      flex: 1;
  
      .articleCategory {
        background-color: #887c6d;
        color: #fff;
        font-size: 14px;
        padding: 7px 20px;
        border-radius: 2px;
      }
      
      .articleTitle {
        font-size: 24px;
        letter-spacing: 0.05em;
        line-height: 1.66;
        font-weight: 500;
        margin: 20px 0;
      }
      
      .articleText {
        font-size: 14px;
        margin-bottom: 30px;
      }
      
      .articleTagList {
        display: flex;
        gap: 5px;
    
        .articleTag {
          font-size: 12px;
          padding: 3px 15px;
          border: solid 1px #dbdbd0;
          border-radius: 2px;
          
          &:before {
            content: '#';
          }
          
          &:hover {
            border: solid 1px #463d2e;
          }
        }
      }
    }
  }

  .splideArrowPrev,
  .splideArrowNext {
    width: 45px;
    height: 45px;
    background: #fff;
    position: absolute;
    opacity: 1;
    left: auto;
    right: 10px;
    
    @media screen and (min-width: 767px) {
      width: 80px;
      height: 80px;
      left: calc(50% + 365px);
      right: auto;
    }
  }
  .splideArrowPrev {
    border-radius: 0 0 40px 40px;
    bottom: auto;
    top: 22%;
    
    @media screen and (min-width: 767px) {
      top: 50%;
    }
  }
  .splideArrowNext {
    border-radius: 40px 40px 0 0;
    bottom: 78%;
    top: auto;
    
    @media screen and (min-width: 767px) {
      bottom: 50%;
    }
  }
}
