.splide {
  margin-bottom: 100px;
  padding-left: calc((100vw - 1360px) / 2);

  .splideSlide {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
    
    @media screen and (min-width: 767px) {
      flex-direction: row;
      max-width: 1004px;
    }

    .articleImg {
      display: block;
      width: 280px;
      
      @media screen and (min-width: 767px) {
        width: 525px;
      }
    }

    .articleContent {
      padding-top: 20px;
      position: relative;
      z-index: 1;
      flex: 1;
  
      .articleCategory {
        background-color: #887c6d;
        color: #fff;
        font-size: 14px;
        padding: 7px 20px;
        border-radius: 2px;
      }
      
      .articleTitle {
        font-size: 24px;
        letter-spacing: 0.05em;
        line-height: 1.66;
        font-weight: 500;
        margin: 20px 0;
      }
      
      .articleText {
        font-size: 14px;
        margin-bottom: 30px;
      }
      
      .articleTagList {
        display: flex;
        gap: 5px;
    
        .articleTag {
          font-size: 12px;
          padding: 3px 15px;
          border: solid 1px #dbdbd0;
          border-radius: 2px;
          
          &:before {
            content: '#';
          }
          
          &:hover {
            border: solid 1px #463d2e;
          }
        }
      }
    }
  }
}
