body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  background-color: #f7f6f3;
  color: #463d2e;
}

main {
  min-height: 100vh;
  overflow: hidden;
}

a,
p {
  letter-spacing: 0.08em;
}
